http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1964&r=chl&p=prk
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"chl","partner_iso":"prk","observation":"No
        data available for these filtering parameters"}]'
  recorded_at: 2021-08-08 03:45:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
