http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2002&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","trade_value_usd_exp":17423088183,"trade_value_usd_imp":15383398153}]'
  recorded_at: 2022-02-24 16:35:41 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2002&r=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":2002,"reporter_iso":"arg","trade_value_usd_exp":25709371110,"trade_value_usd_imp":8989546000}]'
  recorded_at: 2022-02-24 16:35:41 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=mex&p=usa
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":2002,"reporter_iso":"mex","partner_iso":"usa","trade_value_usd_exp":137963057176,"trade_value_usd_imp":106899862231}]'
  recorded_at: 2022-02-24 16:35:41 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=mex&p=can
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":2002,"reporter_iso":"mex","partner_iso":"can","trade_value_usd_exp":3010074713,"trade_value_usd_imp":4479574474}]'
  recorded_at: 2022-02-24 16:35:41 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
