http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2019-03-11 01:29:23 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1980&r=chl&p=arg&c=all&l=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0101","product_code_length":4,"import_value_usd":85110,"import_value_usd_change_1_year":-11263,"import_value_usd_change_5_years":23920,"import_value_usd_percentage_change_1_year":-0.1169,"import_value_usd_percentage_change_5_years":0.3909},{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0104","product_code_length":4,"import_value_usd":119699,"import_value_usd_change_5_years":-79105,"import_value_usd_percentage_change_5_years":-0.3979},{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0105","product_code_length":4,"export_value_usd":13481,"export_value_usd_change_1_year":-11472,"export_value_usd_percentage_change_1_year":-0.4597},{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0201","product_code_length":4,"import_value_usd":13177238,"import_value_usd_change_1_year":4065625,"import_value_usd_change_5_years":13162350,"import_value_usd_percentage_change_1_year":0.4462,"import_value_usd_percentage_change_5_years":884.0912},{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0205","product_code_length":4,"import_value_usd":150820},{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0209","product_code_length":4,"import_value_usd":449367,"import_value_usd_change_1_year":218063,"import_value_usd_change_5_years":440488,"import_value_usd_percentage_change_1_year":0.9428,"import_value_usd_percentage_change_5_years":49.6101},{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0210","product_code_length":4,"import_value_usd":302170,"import_value_usd_change_1_year":163769,"import_value_usd_change_5_years":299741,"import_value_usd_percentage_change_1_year":1.1833,"import_value_usd_percentage_change_5_years":123.401},{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0303","product_code_length":4,"export_value_usd":999815},{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0305","product_code_length":4,"export_value_usd":6397,"export_value_usd_change_5_years":4881,"export_value_usd_percentage_change_5_years":3.2197},{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0306","product_code_length":4,"export_value_usd":318101,"export_value_usd_change_1_year":-1282745,"export_value_usd_change_5_years":-481024,"export_value_usd_percentage_change_1_year":-0.8013,"export_value_usd_percentage_change_5_years":-0.6019},{"year":1980,"reporter_iso":"chl","partner_iso":"arg","product_code":"0401","product_code_length":4,"export_value_usd":234753,[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1980&r=chl&p=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1980,"reporter_iso":"chl","partner_iso":"arg","export_value_usd":554602733,"import_value_usd":432851280,"export_value_usd_change_1_year":4363868,"export_value_usd_change_5_years":253499042,"export_value_usd_percentage_change_1_year":0.0079,"export_value_usd_percentage_change_5_years":0.8419,"import_value_usd_change_1_year":180623967,"import_value_usd_change_5_years":269846374,"import_value_usd_percentage_change_1_year":0.7161,"import_value_usd_percentage_change_5_years":1.6554}]'
  recorded_at: 2019-03-11 01:29:23 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrc?y=1980&r=chl&c=all&l=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1980,"reporter_iso":"chl","product_code":"0101","product_code_length":4,"export_value_usd":2704215,"import_value_usd":216277,"export_rca_4_digits_product_code":1.5422,"import_rca_4_digits_product_code":0.1928,"export_value_usd_change_1_year":1236010,"export_value_usd_change_5_years":1847720,"export_value_usd_percentage_change_1_year":0.8419,"export_value_usd_percentage_change_5_years":2.1573,"import_value_usd_change_1_year":-43500,"import_value_usd_change_5_years":-18486,"import_value_usd_percentage_change_1_year":-0.1675,"import_value_usd_percentage_change_5_years":-0.0787},{"year":1980,"reporter_iso":"chl","product_code":"0102","product_code_length":4,"import_value_usd":66229,"import_rca_4_d[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1980&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1980,"reporter_iso":"chl","export_value_usd":5435285486,"import_value_usd":5173410476,"eci_4_digits_commodity_code":-0.1301,"eci_rank_4_digits_commodity_code":62,"eci_rank_4_digits_commodity_code_delta_1_year":-6,"eci_rank_4_digits_commodity_code_delta_5_years":7,"top_export_commodity_code":"7403","top_export_trade_value_usd":1607785342,"top_import_commodity_code":"2709","top_import_trade_value_usd":780693527,"export_value_usd_change_1_year":1114909878,"export_value_usd_change_5_years":3461329836,"export_value_usd_percentage_change_1_year":0.2581,"export_value_usd_percentage_change_5_years":1.7535,"import_value_usd_change_1_year":1280730046,"import_value_usd_change_5_years":3493801402,"import_value_usd_percentage_change_1_year":0.329,"import_value_usd_percentage_change_5_years":2.0801}]'
  recorded_at: 2019-03-11 01:29:24 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yc?y=1980&c=all&l=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1980,"product_code":"0101","product_code_length":4,"export_value_usd":664464662,"import_value_usd":664464662,"pci_4_digits_product_code":-0.1579,"pci_rank_4_digits_product_code":646,"pci_rank_4_digits_product_code_delta_1_year":-205,"pci_rank_4_digits_product_code_delta_5_years":-117,"top_exporter_iso":"gbr","top_exporter_trade_value_usd":119557889,"top_importer_iso":"usa","top_importer_trade_value_usd":129942721,"export_value_usd_change_1_year":55460922,"export_value_usd_change_5_years":319983446,"export_value_usd_percentage_change_1_year":0.0911,"export_value_usd_percentage_change_5_years":0.9289,"import_value_usd_change_1_year":55460922,"import_value_usd_change_5_years":319983446,"import_value_usd_percentage_change_1_year":0.0911,"import_value_usd_percentage_change_5_years":0.9289},{"year":1980,"product_code":"0102","product_code_length":4,"export_value_usd":2591690494,"import_value_usd":259[...]
