http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=2002&r=chl&p=arg&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"010121","trade_value_usd_imp":30944,"trade_value_usd_exp":96185},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"010129","trade_value_usd_imp":172705,"trade_value_usd_exp":99259},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"010611","trade_value_usd_imp":4092,"trade_value_usd_exp":44104},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"030484","trade_value_usd_imp":54522,"trade_value_usd_exp":247904},{"year":2002,"reporte[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=chl&p=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","partner_iso":"arg","trade_value_usd_imp":919280993,"trade_value_usd_exp":191070218}]'
  recorded_at: 2024-08-22 20:41:08 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrc?y=2002&r=chl&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","section_code":"01","commodity_code":"010121","trade_va[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2002&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","trade_value_usd_imp":4852991863,"trade_value_usd_exp":6209403846}]'
  recorded_at: 2024-08-22 20:41:08 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yc?y=2002&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"section_code":"01","commodity_code":"010121","trade_value_usd_imp":695820669,"trad[...]
