http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"error":"404 - Resource Not Found"}'
  recorded_at: 2021-08-06 16:12:58 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1964&r=chl&p=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"chl","partner_iso":"0-unspecified","trade_value_usd_exp":14640,"trade_value_usd_imp":296852},{"year":"1964","reporter_iso":"chl","partner_iso":"ant","trade_value_usd_exp":2899,"trade_value_usd_imp":4742099},{"year":"1964","reporter_iso":"chl","partner_iso":"arg","trade_value_usd_exp":16644485,"trade_value_usd_imp":4790930},{"year":"1964","reporter_iso":"chl","partner_iso":"aus","trade_value_usd_exp":0,"trade_value_usd_imp":49194},{"year":"1964","reporter_iso":"chl","partner_iso":"aut","trade_value_usd_exp":0,"trade_value_usd_imp":621078},{"year":"1964","reporter_iso":"chl","part[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1964&r=all&p=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"0-unspecified","partner_iso":"chl","trade_value_usd_exp[...]
