http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=chl&p=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","partner_iso":"arg","trade_value_usd_exp":232852460,"trade_value_usd_imp":3036017286}]'
  recorded_at: 2021-12-15 21:40:38 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
