http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2020-03-21 21:30:19 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1962},{"year":2018}]'
  recorded_at: 2020-03-21 21:30:19 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc-ca?y=1964&r=chl&p=arg&o=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1964,"reporter_iso":"chl","partner_iso":"arg","community_code":"01","export_value_usd":99515,"import_value_usd":34490996},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","community_code":"02","export_value_usd":1395555,"import_value_usd":3289476},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","community_code":"03","import_value_usd":1854497},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","community_code":"04","export_value_usd":279207,"import_value_usd":1510221},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","community_code":"05","export_value_usd":4192963,"import_value_usd":287[...]
