http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2002&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","trade_value_usd_imp":15383398153,"trade_value_usd_exp":17423088183}]'
  recorded_at: 2023-06-29 22:51:42 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2002&r=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"arg","trade_value_usd_imp":8989546000,"trade_value_usd_exp":25709371110}]'
  recorded_at: 2023-06-29 22:51:42 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=mex&p=usa
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"mex","partner_iso":"usa","trade_value_usd_imp":106899862231,"trade_value_usd_exp":137963057176}]'
  recorded_at: 2023-06-29 22:51:42 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=mex&p=can
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"mex","partner_iso":"can","trade_value_usd_imp":4479574474,"trade_value_usd_exp":3010074713}]'
  recorded_at: 2023-06-29 22:51:42 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
