http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2019-03-28 16:59:03 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962},{"year":2017}]'
  recorded_at: 2019-03-28 16:59:03 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1965&r=chl&p=arg&c=all&l=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1965,"reporter_iso":"chl","partner_iso":"arg","product_code":"0101","product_code_length":4,"export_value_usd":2203,"import_value_usd":10324,"export_value_usd_change_1_year":1277,"export_value_usd_percentage_change_1_year":1.379,"import_value_usd_change_1_year":-34375,"import_value_usd_percentage_change_1_year":-0.769},{"year":1965,"reporter_iso":"chl","partner_iso":"arg","product_code":"0102","product_code_length":4,"import_value_usd":19280584,"import_value_usd_change_1_year":-5712657,"import_value_usd_percentage_change_1_year":-0.2286},{"year":1965,"reporter_iso":"chl","partner_iso":"arg","product_code":"0103","product_code_length":4,"import_value_usd":68162,"import_value_usd_change_1_year":64162,"import_value_usd_percentage_change_1_year":16.0405},{"year":1965,"reporter_iso":"chl","partner_iso":"arg[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1965&r=chl&p=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1965,"reporter_iso":"chl","partner_iso":"arg","export_value_usd":91937465,"import_value_usd":125120187,"export_value_usd_change_1_year":30092057,"export_value_usd_percentage_change_1_year":0.4866,"import_value_usd_change_1_year":8052503,"import_value_usd_percentage_change_1_year":0.0688}]'
  recorded_at: 2019-03-28 16:59:03 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrc?y=1965&r=chl&c=all&l=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1965,"reporter_iso":"chl","product_code":"0101","product_code_length":4,"export_value_usd":704472,"import_value_usd":30323,"export_rca_4_digits_product_code":0.8533,"import_rca_4_digits_product_code":0.1236,"export_value_usd_change_1_year":229443,"export_value_usd_percentage_change_1_year":0.483,"import_value_usd_change_1_year":-22054,"import_value_usd_percentage_change_1_year":-0.4211},{"year":1965,"reporter_iso":"chl","product_code":"0102","product_code_length":4,"import_value_usd":20610792,"import_rca_4_digits_product_code":6.5694,"import_value_usd_change_1_year":-4729302,"import_value_usd_percentage_change_1_year":-0.1866},{"year":1965,"reporter_iso":"chl","product_code":"0103","product_[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1965&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1965,"reporter_iso":"chl","export_value_usd":1012377535,"import_value_usd":800177433,"eci_4_digits_product_code":-0.037,"eci_rank_4_digits_commodity_code":43,"eci_rank_4_digits_commodity_code_delta_1_year":-5,"top_export_product_code":"7402","top_export_trade_value_usd":277185986,"top_import_product_code":"8456","top_import_trade_value_usd":38148816,"export_value_usd_change_1_year":187926349,"export_value_usd_percentage_change_1_year":0.2279,"import_value_usd_change_1_year":108026806,"import_value_usd_percentage_change_1_year":0.1561}]'
  recorded_at: 2019-03-28 16:59:03 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yc?y=1965&c=all&l=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1965,"product_code":"0101","product_code_length":4,"export_value_usd":125847423,"import_value_usd":125847423,"pci_4_digits_product_code":-0.6797,"pci_rank_4_digits_product_code":749,"pci_rank_4_digits_product_code_delta_1_year":22,"top_exporter_iso":"irl","top_exporter_trade_value_usd":21010108,"top_importer_iso":"fra","top_importer_trade_value_usd":31764072,"export_value_usd_change_1_year":4417171,"export_value_usd_percentage_change_1_year":0.0364,"import_value_usd_change_1_year":4417171,"import_value_usd_percentage_change_1_year":0.0364},{"year":1965,"product_code":"0102","product_code_length":4,"export_value_usd":666108636,"import_value_usd":666108636,"pci_4_digits_product_code":-1.3147,"pci_rank_4_digits_product_code":864,"pci_rank_4_digits_product_code_delta_1_year":-21,"top_exporter_iso":"irl","top_exporter_trade_value_usd":127798449,[...]
