http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2002&r=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"abw","trade_value_usd_imp":10942581,"trade_value_usd_exp":187806},{"year":2002,"reporter_iso":"aia","trade_value_usd_imp":35707926,"trade_value_usd_exp":3903265},{"year":2002,"reporter_iso":"alb","trade_value_usd_imp":412367680,"trade_value_usd_exp":285851188},{"year":2002,"reporter_iso":"and","trade_value_usd_imp":636582295,"trade_value_usd_exp":58444485},{"year":2002,"reporter_iso":"are","trade_value_usd_imp":237528280,"trade_value_usd_exp":10232773},{"year":2002,"reporter_iso":"arg","trade_value_usd_imp":4961344697,"trade_value_usd_exp":8520263167},[...]
