http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2020-03-24 20:27:52 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1962},{"year":2018}]'
  recorded_at: 2020-03-24 20:27:52 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1964&r=chl&p=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1964,"reporter_iso":"chl","partner_iso":"zaf","export_value_usd":18199,"import_value_usd":1668624},{"year":1964,"reporter_iso":"chl","partner_iso":"yug","export_value_usd":2426241,"import_value_usd":1595475},{"year":1964,"reporter_iso":"chl","partner_iso":"vnm","export_value_usd":139156,"import_value_usd":0},{"year":1964,"reporter_iso":"chl","partner_iso":"ven","export_value_usd":1910746,"import_value_usd":5370156},{"year":1964,"reporter_iso":"chl","partner_iso":"usa","export_value_usd":235907659,"import_value_usd":266855435},{"year":1964,"reporter_iso":"chl","partner_iso":"ury","exp[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1964&r=all&p=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1964,"reporter_iso":"zaf","partner_iso":"chl","export_value_usd":1668624,"impo[...]
