http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2019-08-27 20:50:31 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962},{"year":2017}]'
  recorded_at: 2019-08-27 20:50:31 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1965&r=chl&p=arg&c=all&l=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1965,"reporter_iso":"chl","partner_iso":"arg","product_code":"0101","product_code_length":4,"export_value_usd":2203,"import_value_usd":10324,"export_value_usd_change_1_year":1277,"export_value_usd_percentage_change_1_year":1.379,"import_value_usd_change_1_year":-34375,"import_value_usd_percentage_change_1_year":-0.769},{"year":1965,"reporter_iso":"chl","partner_iso":"arg","product_code":"0102","product_code_length":4,"import_value_usd":19280584,"import_value_usd_change_1_year":-5712657,"import_value_usd_percentage_change_1_year":-0.2286},{"year":1965,"reporter_iso":"chl","partner_iso":"arg","product_code":"0103","product_code_length":4,"import_value_usd":68162,"import_value_usd_change_1_year":64162,"import_value_usd_percentage_change_1_year":16.0405},{"year":1965,"reporter_iso":"chl","partner_iso":"arg[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1965&r=chl&p=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1965,"reporter_iso":"chl","partner_iso":"arg","export_value_usd":53575828,"import_value_usd":63681775,"export_value_usd_change_1_year":16424946,"export_value_usd_percentage_change_1_year":0.4421,"import_value_usd_change_1_year":3499655,"import_value_usd_percentage_change_1_year":0.0582}]'
  recorded_at: 2019-08-27 20:50:31 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrc?y=1965&r=chl&c=all&l=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1965,"reporter_iso":"chl","product_code":"0101","product_code_length":4,"export_value_usd":704472,"import_value_usd":30323,"export_rca_4_digits_product_code":0.8538,"import_rca_4_digits_product_code":0.1237,"export_value_usd_change_1_year":229443,"export_value_usd_percentage_change_1_year":0.483,"import_value_usd_change_1_year":-22054,"import_value_usd_percentage_change_1_year":-0.4211},{"year":1965,"reporter_iso":"chl","product_code":"0102","product_code_length":4,"import_value_usd":20610792,"import_rca_4_digits_product_code":6.561,"import_value_usd_change_1_year":-4729302,"import_value_usd_percentage_change_1_year":-0.1866},{"year":1965,"reporter_iso":"chl","product_code":"0103","product_c[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1965&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1965,"reporter_iso":"chl","export_value_usd":1012377535,"import_value_usd":800179655,"eci_fitness_method":0.0129,"eci_rank_fitness_method":47,"eci_reflections_method":-0.0674,"eci_rank_reflections_method":44,"eci_eigenvalues_method":-0.0673,"eci_rank_eigenvalues_method":44,"eci_rank_delta_1_year_fitness_method":6,"eci_rank_delta_1_year_reflections_method":0,"eci_rank_delta_1_year_eigenvalues_method":0,"top_export_product_code":"7402","top_export_trade_value_usd":277185986,"top_import_product_code":"8456","top_import_trade_value_usd":38148816,"export_value_usd_change_1_year":187926349,"export_value_usd_percentage_change_1_year":0.2279,"import_value_usd_change_1_year":108029028,"import_value_usd_percentage_change_1_year":0.1561}]'
  recorded_at: 2019-08-27 20:50:31 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yc?y=1965&c=all&l=4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1965,"product_code":"0101","product_code_length":4,"export_value_usd":126132853,"import_value_usd":126132853,"pci_fitness_method":0.0039,"pci_rank_fitness_method":1405,"pci_reflections_method":-0.697,"pci_rank_reflections_method":1620,"pci_eigenvalues_method":-0.6969,"pci_rank_eigenvalues_method":1620,"pci_rank_delta_1_year_fitness_method":30,"pci_rank_delta_1_year_reflections_method":39,"pci_rank_delta_1_year_eigenvalues_method":39,"top_exporter_iso":"irl","top_exporter_trade_value_usd":21010108,"top_importer_iso":"fra","top_importer_trade_value_usd":31807395,"export_value_usd_change_1_year":4254723,"export_value_usd_percentage_change_1_year":0.0349,"import_value_usd_change_1_year":4254723,"import_value_usd_percentage_change_1_year":0.0349},{"year":1965,"product_code":"0102","product_code_length":4,"export_value_usd":671683643,"import_value_usd":671683643,"pci_fitness_method":0.0006,"pci_rank_fitness_method":1755,"pci_reflections_method":-1.3008,"pci_rank_reflections_method":1849,"pci_eigenvalues_method":-1.3008,"pci_rank_eigenvalues_method"[...]
