http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1964&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"chl","trade_value_usd_exp":467940167,"trade_value_usd_imp":221748506,"commodity_code_top_exp":"7401","trade_value_usd_top_exp":220058901,"commodity_code_top_imp":"8484","trade_value_usd_top_imp":23573175}]'
  recorded_at: 2021-08-08 03:45:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1964&r=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"arg","trade_value_usd_exp":96382343,"trade_value_usd_imp":503002719,"commodity_code_top_exp":"3501","trade_value_usd_top_exp":11476987,"commodity_code_top_imp":"4016","trade_value_usd_top_imp":82107972}]'
  recorded_at: 2021-08-08 03:45:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1964&r=mex&p=usa
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"mex","partner_iso":"usa","trade_value_usd_exp":158414424,"trade_value_usd_imp":448798212}]'
  recorded_at: 2021-08-08 03:45:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1964&r=mex&p=can
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"mex","partner_iso":"can","trade_value_usd_exp":4300203,"trade_value_usd_imp":16515755}]'
  recorded_at: 2021-08-08 03:45:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
