http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2020-01-21 16:47:07 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962},{"year":2018}]'
  recorded_at: 2020-01-21 16:47:08 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1964&r=chl&p=arg&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1964,"reporter_iso":"chl","partner_iso":"arg","product_code":"9701","import_value_usd":15000},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","product_code":"9609","import_value_usd":740},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","product_code":"9608","import_value_usd":740},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","product_code":"9405","import_value_usd":5600},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","product_code":"9404","import_value_usd":555},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","product_code":"9403","import_value_us[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1964&r=chl&p=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1964,"reporter_iso":"chl","partner_iso":"arg","export_value_usd":39481342,"import_value_usd":61517690}]'
  recorded_at: 2020-01-21 16:47:08 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrc?y=1964&r=chl&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1964,"reporter_iso":"chl","product_code":"7607","export_value_usd":0,"import_value_usd":153682,"import_rca":0.7269},{"year":1964,"reporter_iso":"chl","product_code":"7606","export_value_usd":0,"import_value_usd":210850,"import_rca":0.2403},{"year":1964,"reporter_iso":"chl","product_code":"7604","export_value_usd":0,"import_value_usd":228957,"import_rca":0.2656},{"year":1964,"reporter_iso":"chl","product_code":"7603","export_value_usd":0,"import_value_usd":15740,"import_rca":0.5907},{"year":1964,"reporter_iso":"chl","product_code":"7602","export_value_usd":0,"import_value_usd":69352,"import_rca":0.2293},{"year":1964,"reporter_iso":"chl","product_code":"7601","export_value_usd":18903,"import_value_usd":1606953,"export_rca":0.006,"import_rca":0.5224},{"year":1964,"reporter_iso":"chl","product_code":"7508","export_value_usd":1000,"import_value_usd":65826,"export_rca":0.0344,"import_rca":1.7412},{"year":1964,"reporter_iso":"chl","product_code":"7505","export_value_usd":0,"import_value_usd":382780,"import_rca":1.0249},{"year":1964,"reporter_iso":"chl","product_code":"7504","export_value_usd":0,"import_value_usd":70811,"import_rca":1.0446},{"year":1964,"reporter_iso":"chl","product_code":"7502","export_value_usd":0,"im[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1964&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1964,"reporter_iso":"chl","export_value_usd":838060302,"import_value_usd":724513056,"eci_fitness_method":0.0092,"eci_rank_fitness_method":41,"eci_reflections_method":-0.0602,"eci_rank_reflections_method":44,"eci_eigenvalues_method":-0.0598,"eci_rank_eigenvalues_method":44,"top_export_product_code":"7402","top_export_trade_value_usd":246708381,"top_import_product_code":"8456","top_import_trade_value_usd":41351529}]'
  recorded_at: 2020-01-21 16:47:08 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yc?y=1964&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1964,"product_code":"9999","export_value_usd":99144378,"import_value_usd":99144378,"pci_fitness_method":6.1214e-08,"pci_rank_fitness_method":988,"pci_reflections_method":-2.5659,"pci_rank_reflections_method":982,"pci_eigenvalues_method":-2.5661,"pci_rank_eigenvalues_method":982,"top_exporter_iso":"bhr","top_exporter_trade_value_usd":13836915,"top_importer_iso":"jpn","top_importer_trade_value_usd":12971527},{"year":1964,"product_code":"9706","export_value_usd":74224107,"import_value_usd":74224107,"pci_fitness_method":0,"pci_rank_fitness_method":948,"pci_reflections_method":-0.5986,"pci_rank_reflections_method":743,"pci_eigenvalues_method":-0.5986,"pci_rank_eigenvalues_method":743,"top_exporter_iso":"gbr","top_exporter_trade_value_usd":25082222,"top_importer_iso":"usa","top_importer_trade_value_usd":34051978},{"year":1964,"product_code":"9705","export_value_usd":10427991,"import_value_usd"[...]
