http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2019-12-17 22:43:55 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962},{"year":2018}]'
  recorded_at: 2019-12-17 22:43:55 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1962&r=chl&p=arg&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9701","import_value_usd":560},{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9609","import_value_usd":1116},{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9608","import_value_usd":1116},{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9508","import_value_usd":1023},{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9507","import_value_usd":2412},{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9506","import_value_u[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1962&r=chl&p=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962,"reporter_iso":"chl","partner_iso":"arg","export_value_usd":23123604,"import_value_usd":45084101}]'
  recorded_at: 2019-12-17 22:43:55 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrc?y=1962&r=chl&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962,"reporter_iso":"chl","product_code":"9999","export_value_usd":869482,"import_value_usd":8388138,"export_rca":1.2127,"import_rca":11.5458},{"year":1962,"reporter_iso":"chl","product_code":"9706","export_value_usd":926,"import_value_usd":1012,"export_rca":0.0076,"import_rca":0.0082},{"year":1962,"reporter_iso":"chl","product_code":"9705","export_value_usd":926,"import_value_usd":2183,"export_rca":0.053,"import_rca":0.1233},{"year":1962,"reporter_iso":"chl","product_code":"9704","export_value_usd":2778,"import_value_usd":1000,"export_rca":0.0506,"import_rca":0.018},{"year":1962,"reporter_iso":"chl","product_code":"9703","exp[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1962&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962,"reporter_iso":"chl","export_value_usd":686689403,"import_value_usd":695823377,"eci_fitness_method":0.0035,"eci_rank_fitness_method":35,"eci_reflections_method":0.1748,"eci_rank_reflections_method":36,"eci_eigenvalues_method":0.1752,"eci_rank_eigenvalues_method":36,"top_export_product_code":"7403","top_export_trade_value_usd":222651273,"top_import_product_code":"8456","top_import_trade_value_usd":33230152}]'
  recorded_at: 2019-12-17 22:43:56 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yc?y=1962&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962,"product_code":"9999","export_value_usd":132460373,"import_value_usd":132460373,"pci_fitness_method":1.8366e-10,"pci_rank_fitness_method":989,"pci_reflections_method":-2.3928,"pci_rank_reflections_method":967,"pci_eigenvalues_method":-2.3929,"pci_rank_eigenvalues_method":967,"top_exporter_iso":"usa","top_exporter_trade_value_usd":20489064,"top_importer_iso":"cub","top_importer_trade_value_usd":15140030},{"year":1962,"product_code":"9706","export_value_usd":22602513,"import_value_usd":22602513,"pci_fitness_method":0.0002,"pci_rank_fitness_method":778,"pci_reflections_method":-0.2849,"pci_rank_reflections_method":668,"pci_eigenvalues_method":-0.2849,"pci_rank_eigenvalues_method":668,"top_exporter_iso":"fra","top_exporter_trade_value_usd":6648726,"top_importer_iso":"ita","top_importer_trade_value_usd":4206030},{"year":1962,"product_code":"9705","export_value_usd":3228294,"import_value_us[...]
[...]
