http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=2002&r=chl&p=arg&c=03
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"030111","trade_value_usd_imp":2185,"trade_value_usd_exp":0},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"030213","trade_value_usd_imp":0,"trade_value_usd_exp":1350251},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"030311","trade_value_usd_imp":0,"trade_value_usd_exp":1619},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"030312","trade_value_usd_imp":0,"trade_value_usd_exp":12888},{"year":2002,"reporter_iso":"chl","pa[...]
