http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2020-01-21 16:47:19 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962},{"year":2018}]'
  recorded_at: 2020-01-21 16:47:19 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1964&r=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1964,"reporter_iso":"zaf","export_value_usd":1226515872,"import_value_usd":1939724078,"eci_fitness_method":0.0237,"eci_rank_fitness_method":34,"eci_reflections_method":-0.1961,"eci_rank_reflections_method":50,"eci_eigenvalues_method":-0.1957,"eci_rank_eigenvalues_method":50,"top_export_product_code":"5101","top_export_trade_value_usd":158008353,"top_import_product_code":"8703","top_import_trade_value_usd":192670316},{"year":1964,"reporter_iso":"yug","export_value_usd":1142230420,"import_value_usd":1579177743,"top_export_product_code":"0201","top_export_trade_value_usd":57547636,"top_import_product_code":"5201","top_import_trade_value_usd":62809234},{"year":1964,"reporter_iso":"ymd","export_value_usd":22573976,"import_value_usd":174147828,"top_export_product_code":"5201","top_export_trade_value_usd":6257596,"top_import_product_code":"2709","top_import_trade_value_usd":38033984},{"year":1964,"repor[...]
