http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr-groups?y=1964&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"chl","group_code":"02","trade_value_usd_exp":62600,"trade_value_usd_imp":17997},{"year":"1964","reporter_iso":"chl","group_code":"03","trade_value_usd_exp":312992,"trade_value_usd_imp":3896},{"year":"1964","reporter_iso":"chl","group_code":"04","trade_value_usd_exp":1,"trade_value_usd_imp":479293},{"year":"1964","reporter_iso":"chl","group_code":"05","trade_value_usd_exp":374291,"trade_value_usd_imp":160495},{"year":"1964","reporter_iso":"chl","group_code":"06","trade_value_usd_exp":2502,"trade_value_usd_imp":4600},{"year":"1964","reporter_iso":"chl","group_code":"07[...]
