http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=2004&r=chl&p=arg&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":2004,"reporter_iso":"chl","partner_iso":"arg","commodity_code":"010121","trade_value_usd_exp":182260,"trade_value_usd_imp":20946},{"year":2004,"reporter_iso":"chl","partner_iso":"arg","commodity_code":"010129","trade_value_usd_exp":93900,"trade_value_usd_imp":85404},{"year":2004,"reporter_iso":"chl","partner_iso":"arg","commodity_code":"010410","trade_value_usd_exp":28850,"trade_value_usd_imp":0},{"year":2004,"reporter_iso":"chl","partner_iso":"arg","commodity_code":"010612","trade_value_usd_exp":5250,"trade_value_usd_imp":5092},{"year":2004,"reporter_iso":"chl","partner_iso":"arg","commodity_code":"010641","trade_v[...]
