http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=2002&r=chl&p=arg&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"010121","trade_value_usd_imp":30944,"trade_value_usd_exp":96185},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"010129","trade_value_usd_imp":172705,"trade_value_usd_exp":99259},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"010229","trade_value_usd_imp":0,"trade_value_usd_exp":65377},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"010511","trade_value_usd_imp":0,"trade_value_usd_exp":121898},{"year":2002,"reporter_iso":[...]
[...]
