http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2002&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","trade_value_usd_imp":4852991863,"trade_value_usd_exp":6209403846}]'
  recorded_at: 2024-08-22 20:41:13 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2002&r=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"arg","trade_value_usd_imp":4961344697,"trade_value_usd_exp":8520263167}]'
  recorded_at: 2024-08-22 20:41:13 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=mex&p=usa
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"mex","partner_iso":"usa","trade_value_usd_imp":103352303539,"trade_value_usd_exp":137489947084}]'
  recorded_at: 2024-08-22 20:41:13 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=mex&p=can
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"mex","partner_iso":"can","trade_value_usd_imp":3127702740,"trade_value_usd_exp":2580061542}]'
  recorded_at: 2024-08-22 20:41:13 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
