http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=chl&p=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","partner_iso":"afg","trade_value_usd_imp":136034,"trade_value_usd_exp":6507},{"year":2002,"reporter_iso":"chl","partner_iso":"ago","trade_value_usd_imp":0,"trade_value_usd_exp":71876},{"year":2002,"reporter_iso":"chl","partner_iso":"alb","trade_value_usd_imp":2316,"trade_value_usd_exp":9125},{"year":2002,"reporter_iso":"chl","partner_iso":"are","trade_value_usd_imp":1010531,"trade_value_usd_exp":135773269},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","trade_value_usd_imp":3036017286,"trade_value_usd_exp":232852460},{"year":2002,"reporter_iso":"chl","partne[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=all&p=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"abw","partner_iso":"chl","trade_value_usd_imp":54374,"trade_[...]
