http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2020-03-25 00:55:28 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1962},{"year":2018}]'
  recorded_at: 2020-03-25 00:55:28 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1964&r=chl&p=arg&c=0102
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1964,"reporter_iso":"chl","partner_iso":"arg","product_code":"0102","import_value_usd":24993241}]'
  recorded_at: 2020-03-25 00:55:28 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1964&r=chl&p=arg&c=0202
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1964,"reporter_iso":"chl","partner_iso":"arg","product_code":"0202","observation":"No
        data available for these filtering parameters"}]'
  recorded_at: 2020-03-25 00:55:28 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1964&r=chl&p=arg&c=0504
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1964,"reporter_iso":"chl","partner_iso":"arg","product_code":"0504","export_value_usd":8399,"import_value_usd":174699}]'
  recorded_at: 2020-03-25 00:55:28 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
[...]
