http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1964&r=chl&p=arg&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"chl","partner_iso":"arg","commodity_code":"0306","trade_value_usd_exp":105199,"trade_value_usd_imp":0},{"year":"1964","reporter_iso":"chl","partner_iso":"arg","commodity_code":"0504","trade_value_usd_exp":8399,"trade_value_usd_imp":0},{"year":"1964","reporter_iso":"chl","partner_iso":"arg","commodity_code":"0802","trade_value_usd_exp":539000,"trade_value_usd_imp":0},{"year":"1964","reporter_iso":"chl","partner_iso":"arg","commodity_code":"0804","trade_value_usd_exp":2100,"trade_value_usd_imp":0},{"year":"1964","reporter_iso":"chl","partner_iso":"arg","commodity_code":"0806","trade_value_usd_ex[...]
[...]
