http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2004&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2004,"reporter_iso":"chl","trade_value_usd_imp":9823388774,"trade_value_usd_exp":12014727566}]'
  recorded_at: 2024-08-22 20:41:17 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
