http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2004&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":2004,"reporter_iso":"chl","trade_value_usd_exp":33025407556,"trade_value_usd_imp":24714538547}]'
  recorded_at: 2022-02-24 16:36:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
