http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2020-03-15 20:20:59 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962},{"year":2018}]'
  recorded_at: 2020-03-15 20:20:59 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1964&r=usa
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1964,"reporter_iso":"usa","export_value_usd":29588434389,"import_value_usd":18880976091,"eci_fitness_method":11.43,"eci_rank_fitness_method":3,"eci_reflections_method":1.9187,"eci_rank_reflections_method":6,"eci_eigenvalues_method":1.9185,"eci_rank_eigenvalues_method":6,"top_export_product_code":"1001","top_export_trade_value_usd":1420602594,"top_import_product_code":"0901","top_import_trade_value_usd":1140703059}]'
  recorded_at: 2020-03-15 20:20:59 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
