http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2019-09-17 15:22:06 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962},{"year":2018}]'
  recorded_at: 2019-09-17 15:22:06 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1962&r=chl&p=arg&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9701","import_value_usd":560},{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9608","import_value_usd":1116},{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9601","import_value_usd":467},{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9508","import_value_usd":1023},{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9507","import_value_usd":2412},{"year":1962,"reporter_iso":"chl","partner_iso":"arg","product_code":"9401","import_value_us[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1962&r=chl&p=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962,"reporter_iso":"chl","partner_iso":"arg","export_value_usd":19623383,"import_value_usd":43465841}]'
  recorded_at: 2019-09-17 15:22:06 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrc?y=1962&r=chl&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962,"reporter_iso":"chl","product_code":"9999","export_value_usd":5921782,"import_value_usd":37329741,"export_rca":0.181,"import_rca":1.0399},{"year":1962,"reporter_iso":"chl","product_code":"9701","export_value_usd":10833,"import_value_usd":108006,"export_rca":0.0091,"import_rca":0.0828},{"year":1962,"reporter_iso":"chl","product_code":"9616","export_value_usd":0,"import_value_usd":196390,"import_rca":0.415},{"year":1962,"reporter_iso":"chl","product_code":"9608","export_value_usd":0,"import_value_usd":385404,"import_rca":0.8087},{"year":1962,"reporter_iso":"chl","product_code":"9601","export_value_usd":0,"import_value_usd":7[...]
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1962&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962,"reporter_iso":"chl","export_value_usd":633574770,"import_value_usd":695158161,"eci_fitness_method":0.0322,"eci_rank_fitness_method":35,"eci_reflections_method":0.3006,"eci_rank_reflections_method":32,"eci_eigenvalues_method":0.3009,"eci_rank_eigenvalues_method":32,"top_export_product_code":"7402","top_export_trade_value_usd":389147061,"top_import_product_code":"9999","top_import_trade_value_usd":37329741}]'
  recorded_at: 2019-09-17 15:22:06 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yc?y=1962&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"year":1962,"product_code":"9999","export_value_usd":6918347650,"import_value_usd":6918347650,"pci_fitness_method":1.064e-06,"pci_rank_fitness_method":535,"pci_reflections_method":-1.6924,"pci_rank_reflections_method":500,"pci_eigenvalues_method":-1.6924,"pci_rank_eigenvalues_method":500,"top_exporter_iso":"ven","top_exporter_trade_value_usd":1024278512,"top_importer_iso":"usa","top_importer_trade_value_usd":1470008696},{"year":1962,"product_code":"9701","export_value_usd":251311446,"import_value_usd":251311446,"pci_fitness_method":0.0038,"pci_rank_fitness_method":375,"pci_reflections_method":0.0805,"pci_rank_reflections_method":306,"pci_eigenvalues_method":0.0805,"pci_rank_eigenvalues_method":306,"top_exporter_iso":"fra","top_exporter_trade_value_usd":65851989,"top_importer_iso":"usa","top_importer_trade_value_usd":113309120},{"year":1962,"product_code":"9616","export_value_usd":91197431,"import_va[...]
