http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2002&r=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"abw","trade_value_usd_imp":842875655,"trade_value_usd_exp":128258864},{"year":2002,"reporter_iso":"and","trade_value_usd_imp":1199570933,"trade_value_usd_exp":63752349},{"year":2002,"reporter_iso":"arg","trade_value_usd_imp":8989546000,"trade_value_usd_exp":25709371110},{"year":2002,"reporter_iso":"aus","trade_value_usd_imp":72729715006,"trade_value_usd_exp":64984167272},{"year":2002,"reporter_iso":"aut","trade_value_usd_imp":72796195864,"trade_value_usd_exp":73112665055},{"year":2002,"reporter_iso":"bel","trade_value_usd_imp":198094630599,"trade_value_[...]
