http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=chl&p=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","partner_iso":"are","trade_value_usd_imp":113,"trade_value_usd_exp":128287},{"year":2002,"reporter_iso":"chl","partner_iso":"arg","trade_value_usd_imp":919280993,"trade_value_usd_exp":191070218},{"year":2002,"reporter_iso":"chl","partner_iso":"aus","trade_value_usd_imp":8075304,"trade_value_usd_exp":11823093},{"year":2002,"reporter_iso":"chl","partner_iso":"aut","trade_value_usd_imp":1744474,"trade_value_usd_exp":711790},{"year":2002,"reporter_iso":"chl","partner_iso":"bel","trade_value_usd_imp":19823610,"trade_value_usd_exp":85385796},{"year":2002,"reporter_iso[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=all&p=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"arg","partner_iso":"chl","trade_value_usd_imp":142974825,"tr[...]
