http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"error":"404 - Resource Not Found"}'
  recorded_at: 2021-08-06 16:12:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1964&r=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"0-unspecified","trade_value_usd_exp":53323481,"trade_value_usd_imp":64597498,"commodity_code_top_exp":"5208","trade_value_usd_top_exp":13278707,"commodity_code_top_imp":"8446","trade_value_usd_top_imp":11531016},{"year":"1964","reporter_iso":"afg","trade_value_usd_exp":15581241,"trade_value_usd_imp":5080015,"commodity_code_top_exp":"0806","trade_value_usd_top_exp":7557057,"commodity_code_top_imp":"6309","trade_value_usd_top_imp":2073943},{"year":"1964","reporter_iso":"ant","trade_value_usd_exp":20045016,"trade_value_usd_imp":472891367,"commodity_code_top_exp":"2713","trade_value_usd_top_exp":11492933,"commodity_code_top_imp":"2709","trade_value_usd_top_imp":464811919},{"year":"1964","reporter_[...]
