http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=2002&r=chl&p=arg&c=110100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","partner_iso":"arg","section_code":"02","commodity_code":"110100","trade_value_usd_imp":341,"trade_value_usd_exp":76}]'
  recorded_at: 2023-06-29 22:51:39 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
