http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1964&r=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"0-unspecified","trade_value_usd_exp":53323481,"trade_value_usd_imp":64597498},{"year":"1964","reporter_iso":"afg","trade_value_usd_exp":15581241,"trade_value_usd_imp":5080015},{"year":"1964","reporter_iso":"ant","trade_value_usd_exp":20045016,"trade_value_usd_imp":472891367},{"year":"1964","reporter_iso":"arg","trade_value_usd_exp":96382343,"trade_value_usd_imp":503002719},{"year":"1964","reporter_iso":"aus","trade_value_usd_exp":292789235,"trade_value_usd_imp":925405430},{"year":"1964","reporter_iso":"aut","trade_value_usd_exp":916676707,"trade_value_usd_imp":8[...]
