http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=chl&p=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":2002,"reporter_iso":"chl","partner_iso":"0-unspecified","trade_value_usd_exp":900667908,"trade_value_usd_imp":363491758},{"year":2002,"reporter_iso":"chl","partner_iso":"afg","trade_value_usd_exp":6507,"trade_value_usd_imp":136034},{"year":2002,"reporter_iso":"chl","partner_iso":"ago","trade_value_usd_exp":71876,"trade_value_usd_imp":0},{"year":2002,"reporter_iso":"chl","partner_iso":"alb","trade_value_usd_exp":9125,"trade_value_usd_imp":2316},{"year":2002,"reporter_iso":"chl","partner_iso":"are","trade_value_usd_exp":135773269,"trade_value_usd_imp":1010531},{"year":2002,"reporter_iso":"chl","partner_is[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=2002&r=all&p=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":2002,"reporter_iso":"abw","partner_iso":"chl","trade_value_usd_exp":0,"trade_v[...]
