http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr-communities?y=1964&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"chl","community_code":"01","trade_value_usd_exp":749884,"trade_value_usd_imp":661681},{"year":"1964","reporter_iso":"chl","community_code":"02","trade_value_usd_exp":4894067,"trade_value_usd_imp":3642051},{"year":"1964","reporter_iso":"chl","community_code":"03","trade_value_usd_exp":381496,"trade_value_usd_imp":1829472},{"year":"1964","reporter_iso":"chl","community_code":"04","trade_value_usd_exp":931492,"trade_value_usd_imp":800030},{"year":"1964","reporter_iso":"chl","community_code":"05","trade_value_usd_exp":41416490,"trade_value_usd_imp":23201252},{"year":"1964","r[...]
