http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=2004&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2004,"reporter_iso":"chl","trade_value_usd_imp":24714538547,"trade_value_usd_exp":33025407556}]'
  recorded_at: 2023-06-29 22:51:46 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
