http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=1964&r=chl&p=arg&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"chl","partner_iso":"arg","commodity_code":"0306","trade_value_usd_exp":105199,"trade_value_usd_imp":0},{"year":"1964","reporter_iso":"chl","partner_iso":"arg","commodity_code":"0504","trade_value_usd_exp":8399,"trade_value_usd_imp":0},{"year":"1964","reporter_iso":"chl","partner_iso":"arg","commodity_code":"0802","trade_value_usd_exp":539000,"trade_value_usd_imp":0},{"year":"1964","reporter_iso":"chl","partner_iso":"arg","commodity_code":"0804","trade_value_usd_exp":2100,"trade_value_usd_imp":0},{"year":"1964","reporter_iso":"chl","partner_iso":"arg","commodity_code":"0806","trade_value_usd_ex[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yrp?y=1964&r=chl&p=arg
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"chl","partner_iso":"arg","trade_value_usd_exp":16644485,"trade_value_usd_imp":4790930}]'
  recorded_at: 2021-08-09 02:56:39 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrc?y=1964&r=chl&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"chl","commodity_code":"0208","trade_value_usd_exp":6260[...]
- request:
    method: get
    uri: https://api.tradestatistics.io/yr?y=1964&r=chl
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","reporter_iso":"chl","trade_value_usd_exp":467940167,"trade_value_usd_imp":221748506}]'
  recorded_at: 2021-08-09 02:56:39 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yc?y=1964&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":"1964","commodity_code":"0207","trade_value_usd_exp":736630,"trade_value_usd_imp":755[...]
