http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/countries/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"error":["404 - Resource Not Found"]}'
  recorded_at: 2020-03-24 16:27:51 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.tradestatistics.io/year_range
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1962},{"year":2018}]'
  recorded_at: 2020-03-24 16:27:51 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc-ga?y=1964&r=chl&p=arg&g=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"year":1964,"reporter_iso":"chl","partner_iso":"arg","group_code":"01","export_value_usd":19026,"import_value_usd":25173742},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","group_code":"02","import_value_usd":8091852},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","group_code":"03","export_value_usd":59292},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","group_code":"04","export_value_usd":4399,"import_value_usd":743504},{"year":1964,"reporter_iso":"chl","partner_iso":"arg","group_code":"05","export_value_usd":16798,"import_value_usd":481898},{"year":1964,"reporter_iso":"chl","partner_is[...]
