http_interactions:
- request:
    method: get
    uri: https://api.tradestatistics.io/yrpc?y=2004&r=chl&p=arg&c=all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"year":2004,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"010121","trade_value_usd_imp":20945,"trade_value_usd_exp":182260},{"year":2004,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"010129","trade_value_usd_imp":85404,"trade_value_usd_exp":93900},{"year":2004,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"010611","trade_value_usd_imp":5819,"trade_value_usd_exp":6150},{"year":2004,"reporter_iso":"chl","partner_iso":"arg","section_code":"01","commodity_code":"030484","trade_value_usd_imp":269757,"trade_value_usd_exp":930123},{"year":2004,"reporte[...]
